@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --spacing: 0.25rem;
  --font-size-base: 1rem;
}

@layer base {
  :root {
    --font-size-base: 1rem;
    --spacing: 0.25rem;
  }

  @media (min-width: 768px) {
    :root {
      --spacing: 2.29px;      
      --font-size-base: 9.12px; 
    }
  }

  @media (min-width: 1024px) {
    :root {
      --spacing: 2.67px;     
      --font-size-base: 10.6px;
    }
  }

  @media (min-width: 1280px) {
    :root {
      --spacing: 3.63px;   
      --font-size-base: 14.4px;
    }
  }

  @media (min-width: 1536px) {
    :root {
      --spacing: 4px;   
      --font-size-base: 16px;
    }
  }

  @media (min-width: 2560px) {
    :root {
      --spacing: 8px;      
      --font-size-base: 32px;
    }
  }

  @media (min-width: 3840px) {
    :root {
      --spacing: 12px;
      --font-size-base: 48px;
    }
  }

  html {
    font-size: var(--font-size-base);
  }

  body {
    background-color: var(--bg-main);
    color: var(--text-main);
  }
}

:root {
    --bg-main: #ffffff;
    --bg-second: #f5f5f5;
    --bg-third: #eeeeee;

    --text-main: #121212;
    --text-second: #5a5a5a;
    --text-third: #f5f5f5;
    
    --btn-bg: #121212;
    --btn-text: #ffffff;

    --border-color: #888888;
    
    --shadow-color: rgba(0, 0, 0, 0.8);
    --overlay-bg: rgba(255, 255, 255, 0.5);
  }
  
  [data-theme="dark"] {
    --bg-main: #121212;
    --bg-second: #191919;
    --bg-third: #1f1f1f;
    
    --text-main: #ffffff;
    --text-second: #8E8E8E;
    --text-third: #191919;
    
    --btn-bg: #ffffff;
    --btn-text: #121212;
    
    --border-color:#ffffff;
    
    --shadow-color: rgba(0, 0, 0, 0.1);
    --overlay-bg: rgba(0, 0, 0, 0.5);
}

  @theme {
    --color-bg-main: var(--bg-main);
    --color-bg-second: var(--bg-second);
    --color-bg-third: var(--bg-third);

    --color-text-main: var(--text-main);
    --color-text-second: var(--text-second);
    --color-text-third: var(--text-third);

    --color-btn-bg: var(--btn-bg);
    --color-btn-text: var(--btn-text);

    --color-border-color: var(--border-color);
    --color-shadow-color: var(--shadow-color);
    --color-overlay-bg: var(--overlay-bg);
}

html {
    overflow: scroll;
    
}
::-webkit-scrollbar {
    display: none;
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: white;
}

.loader {
  width: 1.5rem;
  padding: 0.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-bg-main);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.pageLoader {
  width: 1.8rem;
  padding: 0.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-text-main);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

input,label,select,textarea{
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

option {
  padding: 8px;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

option:nth-of-type(odd) {
  background-color: var(--color-bg-third);
}

option:hover,
option:focus {
  background-color: var(--color-bg-second);
}

.linkStyle{
  padding: 0.375rem 0.75rem;
  border-radius: 0.36rem;
  cursor: pointer;
}
.linkStyle:hover{
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
}

.sectionStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40rem;
  padding: 0 11rem;
}

.containerStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 66.667%;
  height: auto;
  margin: 1.5rem 0;
}

.headerText{
  width: 100%;
  font-size:1.9rem
}

.pMainText{
  text-align: start;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}

.pSecondText{
  font-size: 1.23rem;
  color: var(--text-second);
}

.btnStyle{
  background-color: var(--btn-bg);
  color: var(--btn-text);
  width: 10rem;
  text-align: center;
  padding: 1rem 0;
  border-radius: 1rem;
  cursor: pointer;
}

.btnStyle:hover:not(:disabled) {
  opacity: 0.9;
}

.btnStyle:disabled {           
  cursor: default; 
  opacity: 0.7;
  filter: grayscale(1);    
}

.link-button {
  color: var(--text-second);
  text-decoration: underline;
  cursor: pointer;
}

.link-button:hover {
  opacity: 0.8;
}