@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-dark-bg-main: #121212;
    --color-dark-bg-second: #191919;
    --color-dark-bg-third: black;

    --color-dark-text-main: #ffffff;
    --color-dark-text-second: #8E8E8E;
    --color-dark-text-third: #191919;
    
    --color-dark-btn-bg: #ffffff;
    --color-dark-btn-text: #121212;

    --color-light-bg-main: #909090;
    --color-light-bg-second: #909090;
    --color-light-bg-third: #909090;
    
    --color-light-text-main: #909090;
    --color-light-text-second: #909090;
    --color-light-text-third: #909090;
    
    --color-light-btn-bg: #909090;
    --color-light-btn-text: #909090;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: white;
}